<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="angularTodo" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="angularTodo" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="angularTodo" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="angularTodo" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Obligatory Todo App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/screen.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <h1>The Obligatory Todo App!</h1>
  <div class="filters">
    Filter: <input ng-model="query"> | Sort: 
    <select ng-model="order">
      <option value="">Added</option>
      <option value="title">Alphabetical</option>
      <option value="status">Status</option>
    </select>
  </div>
  <div ng-controller="TodoListController">
    <ul class="todos">
      <li class="todo" ng-repeat="todo in todos | filter:query | orderBy:order" ng-class="{'done':todo.done, 'is-editing':isEditing}" ng-controller="TodoController">
        <div class="display-mode">
          <span class="title">
            <input type="checkbox" ng-model="todo.done">
            {{todo.title}}
          </span> | <span class="edit" ng-click="edit()">Edit</span></div>
        <div class="edit-mode"><input ng-model="todo.title"> <button ng-click="doneEditing()">Done</button></div>
      </li>
    </ul>

    <button ng-click="newTodo()">Add a todo</button>
    <button ng-click="clearFinishedTodos()">Clear finished</button>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="/dist/bundle.js"></script>
  <!--<script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>-->
</body>
</html>
